@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

:root {
    --main-color: hsl(171deg 62% 45%);
    --second-color: hsl(233deg 100% 69%);
    --padding-top: 100px;
    --padding-bottom: 100px;
}

* {
    box-sizing: border-box;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
}

    /* header start  */

header img {
    position: absolute;
    background-size: cover;
    width: 100%;
}

.intro {
    text-align: center;
    padding-bottom: var(--padding-bottom);
}

.intro .copy-i {
    font-size: 150px;
    color: var(--main-color);
    position: relative;
    top: 20px;
}

header .intro h2 {
    padding-top: 20px;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

header .intro .guide {
    font-size: 14px;
    color: #777;
    width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.5;
    margin-bottom: 30px

}

header .intro .ios {
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 8px var(--main-color);
    
}

header .intro .mac {
    background-color: var(--second-color);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 8px  var(--second-color);
}

    /* main start  */

main {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
main section h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
}

main section.one p {
    font-size: 14px;
    color: #777;
    width: 550px;
    position: relative;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.5;
}

.two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 50px 0;
    padding-top: 100px;
}

section.two .one-footer div {
    margin-top: 40px;
    width: 65%;
    position: relative;
    left: 70px;
    top: 55px;
}

section.two img {
    position: relative;
    right: 30px;
    background-size: cover;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

section.two .one-footer h3 {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 23px;
}

section.two .one-footer p {
    color: #777;
    font-size: 14px;
    width: 300px;
}


section.three {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
}

section.three img {
    width: 80%;
    height: 100%;
    margin-top: 50px;
}

.four .functions {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 100px 0;
}

.four .functions div {
    width: 26%;
    margin: 0 30px;
}

.four .functions div img {
    margin: 10px 0 20px 0;
}

.four .functions div h3 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
}

.four .functions div p {
    line-height: 1.8;
    color: #777;
    font-size: 14px;
}

.five {
    padding-top: 50px;
}

.five .images img{
    position: relative;
    padding: 0px 30px;
    width: 15%;
    left: 10%;
}

.six {
    text-align: center;
    padding-top: 150px;
}

.six .mac {
    background-color: var(--second-color);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 8px  var(--second-color);
}

.six .ios {
    background-color: var(--main-color);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 8px var(--main-color);
    margin-right: 15px;
}

.six .texts p {
    color: #777;
    width: 600px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 50px;
}

footer .foot{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    background-color: #eee;
    bottom: -100px;
    position: relative;
}

.foot .logo {
    width: 50px;
    height: 50px;
    margin: 0 70px;
}

.foot ul {
    list-style: none;
    max-width: 700px;
}

footer ul li a {
    text-decoration: none;
}

ul li {
    display: inline-block;
    margin: 50px 20px;
}

a {
    color: var(--main-color);
}

footer p {
    text-align: center;
}

footer .foot .social_link a img {
    padding-right: 15px;
    padding-left: 15px;
}
    /* main end  */

@media (max-width: 767px) {
    header {
        background: url(./images/bg-header-mobile.png);
        background-size: cover;
        padding: 40px 10px;
    }
    .intro {
        width: 100%;
    }

    .one {
        width: 80%;
    }
    .two {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .two .one-footer div {
        width: 76%;
        margin: 60px 12% auto;
        text-align: center;
    }
    .three div:first-child {
        width: 75%;
    }

    .four .functions {
        display: grid;
    }
    .four .functions div {
        width: 85%;
    }

    .four .images {
        display: grid;
        grid-gap: 4em;
        justify-content: center;
        align-items: center;
    }
    .five {
        width: 84%;
    }

    .action_btns button {
        margin: 10px 0;
    }
    footer .foot {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
    }
    ul li {
        display: grid;
        margin: 20px 0;
    }
    .social_link a {
        margin: 10px;
    }
}